// Configs
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bebas+Neue&family=Inter:wght@200;400;600;800&display=swap");
@import "./about/About.scss";
@import "./colors/Colors.scss";
@import "./games/Games.scss";
@import "./header/Header.scss";
@import "./home/Home.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  overflow: hidden;
  text-decoration: none;
}
.content {
  width: 100vw;
  height: 100vh;
  background-color: $colorBlack;
  color: $colorWhite;
}

// ----------------------------- Globals  -----------------------------
// Alinhar ao centro
.header,
.header_links,
.home_image,
.home_description,
.games_container,
.game_change,
.game,
.icons,
.icon,
.about_description {
  display: flex;
  justify-content: center;
  align-items: center;
}
